@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600;1,800&family=Work+Sans:ital,wght@0,200;0,400;1,200;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}

body{
  max-width:100%;

}
header{
background: #FFF; 
padding: 70px 120px;
}
.navber{
  width: 90%;
  margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
}
.navber-title{
  color: #3A3A3A;
font-size: 2rem;
font-weight: 700;
text-align: left;
}
.navigation-menu{
  display: flex;
justify-content: space-around;
align-items: center;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-item>a{
  text-decoration: none;
  color: #3A3A3A;
  text-align: center;
font-size: 1rem;
font-weight: 600;
}
/* banner section style */
.banner{
  width: 90%;
  margin: auto;
 display: flex;
justify-content: space-around;
align-items: center; 
flex-direction: row-reverse;
margin-bottom: 70px;
}
.banner-content{
  max-width: 585px;
  margin: 0 auto;
  text-align: left;
}
.banner-title{
color: #3A3A3A;
font-size: 3rem;
font-weight: 700;
margin-bottom: 20px;
}
.description{
  color: #3A3A3A;
font-size: 1rem;
font-weight: 600;
margin-bottom: 20px;
}
.btn-primary{
  color: #FFF;
font-size: 1rem;
font-weight: 700;
border-radius: 41px;
background: #E02C6D;
text-align: center;
border: 0;
padding: 10px;
}
.btn-primary>img{
  width: 1rem;
  margin-bottom:-5px ;
}
.banner-img{
  background: url(images/Circle\ design.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 30px;
}
.banner-img>img{
  width: 100%;
}
/* logo section design */
.logo-section{
  /* width: 90%; */
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.logo{
  margin-bottom: 10px;
}
/* main section style */
main{
  width: 100%;
}
.card-section{
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}
.card-section-title{
  color: #3A3A3A;
font-size: 28px;
font-weight: 600; 
text-align: center;
margin-bottom: 40px;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  gap: 30px;
}
.card{
width: 100%;
padding: 10px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.25);
}
.card>img{
  width:100%;
}
.see-more{
  width: 80%;
  margin: auto;
  text-align: right;
  margin-bottom: 30px;
  color: rgba(224, 44, 109, 0.87);
font-size: 1rem;
font-weight: 700;
}
.see-more>img{
  width: 1.25rem;
  margin-bottom: -5px;
   color: rgba(224, 44, 109, 0.87);
}
/* feature section style */
.feature{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: 90px;
}
.feature-container{}
.feature-title{
  color: #0A0826;
font-size: 2.25rem;
font-weight: 700;
margin-bottom: 10px;

}
.feature-description{
  color: #6C6C6C;
font-size: 1rem;
font-weight: 700;
margin-bottom: 30px;
}
.join-btn{
  background: #E02C6D;
  border: 0;
  padding: 10px;
  align-items: center;
  color: #FFF;
font-size: 1rem;
font-weight: 700;
}
.join-btn>img{
  width: 1rem;
   margin-bottom: -5px;
}
/* footer section style */
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #0A0826;
width: 100%;
}
.footer-container{
  margin: 50px auto;
}
.footer-container>h2{
  color: #FFF;
font-size: 1.5rem;
font-weight: 700;
margin-bottom:5px
}
.footer-container>p{
  color:#D9DBE1;
font-size: 1rem;
font-weight: 700;
margin-bottom: 15px;
}
.footer-container .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap:30px;
}
.footer-container .icon>img{
  background: #FFF;
  border-radius: 50%;
}

/* mobile device */
@media screen and (max-width:576px){
  .navber,.banner,.logo-section,.feature
  {
    flex-direction: column;
   justify-content: space-around;
  }
  header{
    padding: 14px 24px;
  }
   .logo-section{
   flex-direction: column;
  }
  .logo{
  margin-bottom: 30px;
}
  .card-container{
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  .feature-container{
    margin-bottom: 20px;
  }

}
/* medium device */
@media screen and (min-width:576px) and (max-width:960px){
  .navber,.banner,.feature
  {
    flex-direction: column;
  }
  .navber-title{margin-bottom: 20px;}
  .card-container{
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 30px;
  }
  .logo-section{
   display: grid;
   grid-template-columns: repeat(4,1fr);
  }
  .see-more{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
  }
}
